In [2]:
from numpy.random import randn as rn

In [20]:
import numpy as np

In [21]:
i = rn(5,4)

In [8]:
i

array([[-1.16986349, -0.85084261, -1.86363375, -0.11964915],
       [-0.50767909, -1.48674646,  0.44657932,  0.71077338],
       [ 0.5514984 , -0.02796628, -0.3214022 , -1.38175473],
       [-1.21730665, -1.27932979, -1.01963835, -0.58945993],
       [ 0.01526184, -0.66761227,  0.16670704,  2.31565529]])

In [10]:
import pandas as pd

In [12]:
df = pd.DataFrame(i)

In [14]:
df

          0         1         2         3
0 -1.169863 -0.850843 -1.863634 -0.119649
1 -0.507679 -1.486746  0.446579  0.710773
2  0.551498 -0.027966 -0.321402 -1.381755
3 -1.217307 -1.279330 -1.019638 -0.589460
4  0.015262 -0.667612  0.166707  2.315655

In [16]:
row = ['a','b','c','d','e']
col =['f','g','h','i']

In [18]:
df = pd.DataFrame(i, index=row, columns=col)

In [22]:
df

          f         g         h         i
a -1.169863 -0.850843 -1.863634 -0.119649
b -0.507679 -1.486746  0.446579  0.710773
c  0.551498 -0.027966 -0.321402 -1.381755
d -1.217307 -1.279330 -1.019638 -0.589460
e  0.015262 -0.667612  0.166707  2.315655

In [27]:
type(df[['f','g']])

pandas.core.frame.DataFrame

In [29]:
df['h']

a   -1.863634
b    0.446579
c   -0.321402
d   -1.019638
e    0.166707
Name: h, dtype: float64

In [33]:
df['new'] = df['f'] + df['g']

In [35]:
df

          f         g         h         i       new
a -1.169863 -0.850843 -1.863634 -0.119649 -2.020706
b -0.507679 -1.486746  0.446579  0.710773 -1.994426
c  0.551498 -0.027966 -0.321402 -1.381755  0.523532
d -1.217307 -1.279330 -1.019638 -0.589460 -2.496636
e  0.015262 -0.667612  0.166707  2.315655 -0.652350

In [52]:
df.drop('c', inplace = True )

In [43]:
df.drop('f',inplace = True , axis = 1)

In [45]:
df

          g         h         i       new
b -1.486746  0.446579  0.710773 -1.994426
c -0.027966 -0.321402 -1.381755  0.523532
d -1.279330 -1.019638 -0.589460 -2.496636
e -0.667612  0.166707  2.315655 -0.652350

In [54]:
df

          g         h         i       new
d -1.279330 -1.019638 -0.589460 -2.496636
e -0.667612  0.166707  2.315655 -0.652350

In [56]:
j = rn(5,4)

In [58]:
j

array([[ 1.17996778,  0.44014184, -0.82419285, -0.39024107],
       [ 0.35449173,  2.57418786, -0.74427265, -0.49342084],
       [-1.02937056, -0.63841968, -1.9753575 ,  1.05631392],
       [ 0.9998826 , -1.64080304, -0.03319738,  0.48973697],
       [-0.62120316,  0.53578867,  0.30920674,  1.812352  ]])

In [60]:
df1 = pd.DataFrame(j)

In [62]:
df1

          0         1         2         3
0  1.179968  0.440142 -0.824193 -0.390241
1  0.354492  2.574188 -0.744273 -0.493421
2 -1.029371 -0.638420 -1.975357  1.056314
3  0.999883 -1.640803 -0.033197  0.489737
4 -0.621203  0.535789  0.309207  1.812352

In [64]:
row = ['a','b','c','d','e']
col =['f','g','h','i']

In [66]:
df1 = pd.DataFrame(j, index=row, columns=col)

In [73]:
df1

          f         g         h         i
a  1.179968  0.440142 -0.824193 -0.390241
b  0.354492  2.574188 -0.744273 -0.493421
c -1.029371 -0.638420 -1.975357  1.056314
d  0.999883 -1.640803 -0.033197  0.489737
e -0.621203  0.535789  0.309207  1.812352

In [78]:
df1.iloc[1:3,1:3]

          g         h
b  2.574188 -0.744273
c -0.638420 -1.975357

In [81]:
df1.loc['a']

f    1.179968
g    0.440142
h   -0.824193
i   -0.390241
Name: a, dtype: float64